# Virtual environment
.venv/
venv/

# Python bytecode
*.pyc
__pycache__/

# Flask instance folder
instance/

# Sensitive information
.env

# Testing artifacts
.pytest_cache/
.coverage
htmlcov/

# Build and distribution files
dist/
build/
*.egg-info/

# Editor/OS specific files
.DS_Store